div(ng-hide="user" ng-include="loginTemplate")

div(ng-show="user")
	section#new-place
		h2 {{place.osm_id ? labels('Adding') + ' ' + place.name : labels('New place')}}
		form(ng-submit="submit(place)")
			a(href="javascript:void(0);" ng-show="place.osm_id" ng-click="clearPlace()") {{labels('Clear data (register new place)')}}
			p.name
				label(for="input_place_name") {{labels('Name')}}
				input(id="input_place_name" type="text" ng-model="place.name" ng-disabled="place.osm_id")
			.address-search(ng-hide="place.lat && place.lon")
				p
					label(for="input_place_search") {{labels('Search address')}}
					input(id="input_place_search" type="text" ng-model="search")
				ul(ng-show="searchResults")
					li(ng-repeat="address in searchResults" ng-click="selectAddress(address)") {{sanitizeAddress(address)}}
			.address-details(ng-show="place.lat && place.lon")
				p.road
					label(for="input_place_road") {{labels('Address')}}
					input(id="input_place_road" type="text" ng-model="place.address" ng-value="place.address.road" ng-disabled="place.osm_id && place.address.road")
				p.number
					label(for="input_place_number") {{labels('Number')}}
					input(id="input_place_number" type="text" ng-model="place.number" ng-value="place.address.house_number")
				p.district
					label(for="input_place_district") {{labels('District')}}
					input(id="input_place_district" type="text" ng-model="place.district" ng-value="place.address.city_district" ng-disabled="place.osm_id && place.address.city_district")
				p.
			.map(ng-show="place.lat && place.lon")
				label {{labels('Exact location')}}
				.map-container
					leaflet#new-place-map(defaults="map.defaults" center="map.center" controls="map.controls")
					// p(ng-bind="place.lat + ' ' + place.lon")

			input(type="submit" value="{{labels('Submit place')}}")