article.single-place.content-map(id="place-{{place.ID}}")
	.clearfix
		section#map.row(ng-controller="MapController")
			leaflet(defaults="mapDefaults" markers="markers = ([place] | placeToMarker)")
		.container.header-container.anti-row
			header#place-header.content-map-header.five.columns
				.header-content
					.main-info
						.image(back-img="place.featured_image.attachment_meta.sizes.medium.url")
						h1 {{place.title}}
						p.address {{place.formatted_address}}
					.ratings
						p.structure.clearfix
							span.label {{labels('Structure')}}:
							ratings(type="structure" rating="{{place.scores.structure}}")
						p.kindness.clearfix
							span.label {{labels('Kindness')}}:
							ratings(type="kindness" rating="{{place.scores.kindness}}")
					p.total
						| {{labels('Total reviews')}}:
						span.count {{place.review_count}}
					p.submit-review(ng-controller="SubmitReviewCtrl")
						a(href="javascript:void(0);" ng-click="newReview(place)" ng-init="onLoadReview(openReview, place)")
							span(ng-hide="place.user_review") {{labels('Submit review')}}
							span(ng-show="place.user_review") {{labels('Edit review')}}
							span.icon-pencil
	section#place-media(ng-class="{open: isGallery}")
		.container
			.seven.columns
				ul.place-image-list
					.clearfix
						li.review-image(ng-repeat="image in place.images")
							a(href="javascript:void(0);" ng-click="openGallery(image)")
								img(ng-src="{{image.thumb}}")
				p.toggle-gallery(ng-click="toggleGallery()" ng-hide="single")
					span(ng-show="isGallery") {{labels('Close image gallery')}}
					span(ng-hide="isGallery") {{labels('Show image gallery')}}
	div(ui-view autoscroll="true")
		section#reviews
			.container
				.twelve.columns
					.row
						h2.section-title {{labels('Reviews')}}
			.review-list(ng-show="reviews.length")
				review-list-item(ng-repeat="review in reviews" review="review")
