@font-face {
  font-family: 'entypo';
  src: url('../font/entypo.eot');
  src: url('../font/entypo.eot?#iefix') format('embedded-opentype'), url('../font/entypo.woff') format('woff'), url('../font/entypo.ttf') format('truetype'), url('../font/entypo.svg#entypo') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'entypo-social';
  src: url('../font/entypo-social.eot');
  src: url('../font/entypo-social.eot?#iefix') format('embedded-opentype'), url('../font/entypo-social.woff') format('woff'), url('../font/entypo-social.ttf') format('truetype'), url('../font/entypo-social.svg#entypo-social') format('svg');
  font-weight: normal;
  font-style: normal;
}
.entypo {
  font-family: "entypo";
  font-size: 250%;
}
.entypo-social {
  font-family: "entypo-social";
  font-size: 250%;
}
html,
body {
  width: 100%;
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
  background: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans Condensed", "Helvetica", "Arial", sans-serif;
  line-height: 140%;
  color: #333;
}
a,
a:visited {
  color: #ecb417;
}
a:hover,
a:visited:hover,
a:focus,
a:visited:focus {
  color: #e98918;
}
ul li.columns,
ul li.column {
  margin-bottom: 0;
}
.section-title {
  font-family: "Open Sans";
  font-size: 26px;
}
.has-tooltip {
  position: relative;
}
.has-tooltip .tooltip {
  display: none;
  left: 50%;
  bottom: 100%;
  margin-bottom: 12px;
  margin-left: -75px;
  width: 150px;
  background: #eeeeee;
  border: 1px solid #c3c3c3;
  position: absolute;
  z-index: 100;
  padding: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.has-tooltip .tooltip:before {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  background: #eeeeee;
  border: 1px solid #c3c3c3;
  -webkit-transform: rotate(45deg);
  -khtml-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  bottom: -6px;
  left: 50%;
  margin-left: -6px;
}
.has-tooltip .tooltip:after {
  content: '';
  position: absolute;
  bottom: 0px;
  height: 15px;
  background: #eeeeee;
  left: 1px;
  right: 1px;
}
.has-tooltip .tooltip span {
  position: relative;
  z-index: 2;
  font-size: 12px;
  font-family: "Open Sans Condensed";
  font-weight: 600;
}
.has-tooltip:hover {
  z-index: 100;
}
.has-tooltip:hover .tooltip {
  display: block;
}
.rating .rating-item {
  width: 18px;
  height: 18px;
  float: left;
  background-position: top left;
  background-repeat: no-repeat;
}
.rating .rating-item .rating-filled {
  display: block;
  width: 100%;
  height: 100%;
  background-position: top left;
  background-repeat: no-repeat;
}
.rating-structure .rating-item {
  background-image: url(../img/structure_0.png);
}
.rating-structure .rating-item .rating-filled {
  background-image: url(../img/structure_1.png);
}
.rating-kindness .rating-item {
  background-image: url(../img/kindness_0.png);
}
.rating-kindness .rating-item .rating-filled {
  background-image: url(../img/kindness_1.png);
}
/*
 * Header
 */
#masthead {
  -webkit-box-shadow: 0 0 60px rgba(0, 0, 0, 0.2);
  -khtml-box-shadow: 0 0 60px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 60px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 60px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 100;
}
#map {
  width: 100%;
  height: 400px;
  position: relative;
}
#map .leaflet-container {
  width: 100%;
  height: 100%;
}
#map .leaflet-container .leaflet-popup-content-wrapper {
  border-radius: 0;
  text-align: center;
}
#map .leaflet-container .leaflet-popup-content-wrapper .leaflet-popup-content {
  max-width: 180px;
}
#map .leaflet-container .leaflet-popup-content-wrapper .leaflet-popup-content h2 {
  font-size: 18px;
  font-weight: 800;
  margin: 0 0 10px;
}
#map .leaflet-container .leaflet-popup-content-wrapper .leaflet-popup-content p {
  color: #666;
  font-family: "Open Sans Condensed";
  font-weight: 800;
  margin: 0;
}
#map.with-sidebar .leaflet-container {
  width: 70%;
}
#map.with-sidebar .map-sidebar {
  width: 30%;
  z-index: 2;
  background: #ffffff;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
  overflow-y: auto;
  overflow-x: hidden;
}
#map.with-sidebar .map-sidebar .sidebar-title {
  font-family: "Open Sans";
  text-align: center;
  margin: 0 0 20px;
  color: #666;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 800;
}
.map-sidebar #map-filters ul {
  width: 100%;
}
.map-sidebar #map-filters ul li {
  width: 33%;
  float: left;
  text-align: center;
  cursor: pointer;
  height: 60px;
  margin: 0 0 20px;
  opacity: .6;
  font-size: 12px;
  font-weight: 600;
  text-transform: lowercase;
}
.map-sidebar #map-filters ul li p.no-image {
  width: 1%;
  height: 60px;
  display: table-cell;
  vertical-align: middle;
  margin: 0;
}
.map-sidebar #map-filters ul li.active,
.map-sidebar #map-filters ul li:hover {
  opacity: 1;
}
.map-sidebar #map-filters ul li img {
  display: block;
  margin: 0 auto 5px;
}
.place.list-item {
  padding: 20px 20px 0;
  height: 330px;
  background: #eeeeee;
  border: 1px solid #c3c3c3;
  -webkit-box-shadow: 0 0 5px 3px #eeeeee;
  -khtml-box-shadow: 0 0 5px 3px #eeeeee;
  -moz-box-shadow: 0 0 5px 3px #eeeeee;
  -o-box-shadow: 0 0 5px 3px #eeeeee;
  box-shadow: 0 0 5px 3px #eeeeee;
  position: relative;
}
.place.list-item .image {
  margin: -20px -20px 20px -20px;
  height: 150px;
  background-size: cover;
  background-position: center;
}
.place.list-item .place-icon {
  display: block;
  margin: -35px auto 10px;
}
.place.list-item h2 {
  font-size: 16px;
  text-align: center;
  font-weight: 700;
}
.place.list-item p.address {
  font-size: 12px;
  text-align: center;
  font-weight: 600;
  margin: 0 0 20px;
  color: #666;
}
.place.list-item .place-rating {
  display: table;
  position: absolute;
  bottom: 0;
  margin: 0 -20px;
}
.place.list-item .place-rating p {
  display: table-cell;
  width: 1%;
  text-align: center;
  padding-bottom: 20px;
  border-right: 1px solid #c3c3c3;
}
.place.list-item .place-rating p:last-child {
  border-right: 0;
}
.place.list-item .place-rating p .label {
  display: none;
}
.place.list-item .place-rating p .icon {
  display: block;
  margin-bottom: 10px;
  color: #666;
}
.place.list-item .place-rating p .count {
  font-weight: 800;
  color: #666;
}
.place.list-item .place-rating p.structure .icon {
  color: #ecb417;
}
.place.list-item .place-rating p.kindness .icon {
  color: #e98918;
}
.single-place #map {
  width: 66.6666%;
  height: 600px;
}
.single-place #map .leaflet-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  left: -50%;
}
.single-place #map .leaflet-container .leaflet-left {
  left: 30%;
}
.single-place #map .leaflet-container .leaflet-right {
  right: auto;
  left: 30%;
}
.single-place .header-container {
  position: relative;
}
.single-place .header-container #place-header {
  float: right;
  background: #fff;
  margin-top: -600px;
  height: 600px;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  -khtml-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  position: relative;
}
.single-place .header-container #place-header .header-content {
  padding: 20px;
}
.single-place .header-container #place-header .header-content .main-info {
  border-bottom: 1px solid #c3c3c3;
  margin: 0 0 20px;
}
.single-place .header-container #place-header .header-content .main-info .image {
  background-size: cover;
  background-position: center;
  margin: -20px -20px 0 -20px;
  height: 230px;
}
.single-place .header-container #place-header .header-content .main-info h1 {
  text-align: center;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 32px;
  line-height: 80px;
  margin: -80px -20px 20px -20px;
  background: rgba(255, 255, 255, 0.8);
}
.single-place .header-container #place-header .header-content .main-info .address {
  text-align: center;
  font-size: 14px;
  font-weight: 600;
}
.single-place .header-container #place-header .header-content .ratings {
  margin: 0 0 40px;
}
.single-place .header-container #place-header .header-content .ratings p {
  margin: 0 0 20px;
}
.single-place .header-container #place-header .header-content .ratings p .label {
  width: 50%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 10%;
  text-transform: lowercase;
  color: #666;
}
.single-place .header-container #place-header .header-content .ratings p .rating {
  width: 50%;
  float: left;
}
.single-place .header-container #place-header .header-content .ratings p .rating .rating-item {
  margin-left: 10%;
}
.single-place .header-container #place-header .header-content .total {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  font-weight: 600;
  color: #666;
  text-transform: lowercase;
}
.single-place .header-container #place-header .header-content .total .count {
  margin-left: 20px;
  font-size: 18px;
  font-weight: 800;
}
.single-place .header-container #place-header .header-content p.submit-review {
  position: absolute;
  bottom: -60px;
  left: 0;
  right: 0;
  text-align: right;
  line-height: 60px;
  display: block;
  margin: 0;
  height: 60px;
}
.single-place .header-container #place-header .header-content p.submit-review a {
  display: block;
  background: #e98918;
  color: #fff;
  text-decoration: none;
  font-family: "Open Sans Condensed";
  font-weight: 800;
  text-transform: lowercase;
  line-height: inherit;
}
.single-place .header-container #place-header .header-content p.submit-review a:after {
  font-family: "entypo";
  font-size: 250%;
  content: '\270E';
  font-weight: normal;
  line-height: 60px;
  float: right;
  margin: 0 35% 0 20px;
  padding: 0;
  font-size: 400%;
  display: inline-block;
}
.single-place .header-container #place-header .header-content p.submit-review a:hover {
  background: #ecb417;
}
.single-place #reviews {
  margin: 80px 0 0;
}
.review-list-item .review-author img {
  width: 80px;
  height: auto;
  border-radius: 40px;
  float: left;
  margin: 0 20px 20px 0;
}
.review-list-item .review-author h3 {
  font-size: 18px;
  font-weight: 800;
  margin: 20px 0 0;
}
.review-list-item .review-author p.date {
  font-size: 12px;
  text-transform: lowercase;
  color: #666;
}
.review-list-item .review-ratings p {
  margin: 0 0 10px;
}
.review-list-item .review-ratings p .label {
  float: left;
  width: 30%;
  font-size: 12px;
  color: #666;
  text-transform: lowercase;
}
.review-list-item .review-ratings p .info {
  text-transform: uppercase;
  font-weight: 800;
}
.review-list-item .review-ratings p .rating-item {
  margin-right: 5px;
}
