article.place.list-item.clearfix(id="place-{{place.ID}}" class="{{style}}" ng-controller="PlaceController")
	.image(ng-show="place.featured_image" back-img="{{place.featured_image.attachment_meta.sizes.medium.url}}")
	header.place-header
		place-icon(place="place")
		h2
			a(href="javascript:void(0)" ng-click="accessPlace(place)") {{place.title}}
		p.address {{sanitizeAddress(place)}}
	section.place-rating
		p.review-count
			span.label {{labels('Review count')}}
			span.icon-pencil
			span.count {{place.review_count | number:0}}
		p.structure
			span.label {{labels('Structure')}}
			span.icon-star
			span.count {{place.scores.structure | number:2}}
		p.kindness
			span.label {{labels('Kindness')}}
			span.icon-heart
			span.count {{place.scores.kindness | number:2}}