section#map-filters
	h2.sidebar-title {{labels['Filter your search']}}
	ul
		//
			li(ng-click="filter(false)" ng-class="{active: !categoryId}")
				p.no-image Todos
		li(ng-repeat="(key,label) in placeLabels" ng-class="{active:score == key}" ng-click="filter(key, 'score')")
			img(ng-src="{{label.icon}}" alt="{{label.label}}" title="label.label")
			p.category-name {{label.label}}
		li(ng-repeat="category in categories" ng-class="{active:categoryId == category.term_id}" ng-click="filter(category, 'category')" tooltip="{{category.description}}")
			img(ng-src="{{category.markers.default.url}}" alt="{{category.name}}" title="{{category.name}}")
			p.category-name {{category.name}}
