article.osm-place.list-item.clearfix
	header.place-header
		h3 {{place | osmTitle}}
		p {{place.address | osmAddress}}
	section.place-label
		.maki-icon(class="{{place | osmIcon}}")
		h4 {{place | osmLabel}}
	.place-actions
		a.button(href="javascript:void(0);") {{labels('Review')}}
