section#map.row.with-sidebar(ng-controller="MapController")
	leaflet(defaults="mapDefaults" maxbounds="maxbounds" markers="markers = ((posts | placeCategory:categoryId | score:score) | placeToMarker)")
	p.loading-map(ng-show="loadingMap") {{labels('Loading map')}}
	.map-sidebar
		map-filters
	.map-spy(ng-controller="MapSpyCtrl" ng-show="clicked")
		script#spySelection(type="text/ng-template")
			#spy-form(ng-controller="SubmitPlaceCtrl")
				h2 {{labels('New place')}}
				p Encontramos um local aqui!
				.row
					place-list-item(ng-show="post" place="post" style="minimal")
					div(ng-click="newPlace(osmPlace)")
						osm-list-item(ng-hide="post" place="osmPlace")
				p {{labels('If this is not the desired place, register a new place on')}} 
					a(href="javascript:void(0);" ng-click="newPlace(getAddress(osmPlace), latlng)") {{osmPlace.address | osmAddress}}
					
		p(ng-controller="SubmitPlaceCtrl" ng-show="clicked.address | osmAddress:'short'")
			span.icon.icon-plus
			a(href="javascript:void(0);" ng-click="addAddress(clicked, newPlace)") {{labels('Review place on')}} {{clicked.address | osmAddress:'short'}}

section#main-search.anti-row(ng-controller="SearchController")
	#main-search-input.row
		.container
			.twelve.columns.row
				form(ng-submit="search()")
					.icon-magnifying-glass
					input.search-input(type="text" ng-model="searchText" placeholder="{{labels('Where are you going?')}}")
					p Encontre estabelecimentos cadastrados no BikeIT e na base de dados do OpenStreetMap, o mapa livre e editável do mundo.
	#bikeit-results.main-search-results(ng-show="searchResults.length")
		.container
			ul.twelve.columns
				li(ng-repeat="post in mainSearchResults = searchResults")
					place-list-item(place="post" style="minimal")
	#osm-results.main-search-results(ng-controller="SubmitPlaceCtrl" ng-show="filteredAddress.length")
		.container
			.twelve.columns.row
				h2.search-title {{labels('OpenStreetMap Results')}}
				ul
					li(ng-repeat="place in filteredAddress = (addressResults | osmPlace | hideFound:mainSearchResults)" ng-click="newPlace(place)")
						osm-list-item(place="place")

section#featured-places(ng-show="featured.length")
	.container
		.twelve.columns
			.row
				.section-header
					.buttons
						a.button(ng-controller="SubmitPlaceCtrl" ng-click="newPlace()") 
							span.icon-plus 
							| {{labels('New place')}}
					h2.section-title
						| {{labels('Featured places')}}
		ul
			li.three.columns(ng-repeat="post in featured | limitTo:4")
				place-list-item(place="post")

section#recently-reviewed(ng-show="recent.length")
	.container
		.twelve.columns
			.row
				h2.section-title
					| {{labels('Recently reviewed')}}
		ul
			li.three.columns(ng-repeat="post in recent | limitTo:8")
				place-list-item(place="post")
