section#map.row.with-sidebar(ng-controller="MapController")
	leaflet(defaults="mapDefaults" markers="markers = ((posts | placeCategory:categoryId) | placeToMarker)")
	.map-sidebar
		map-filters

section#main-search(ng-controller="SearchController")
	.container
		.twelve.columns.row
			form(ng-submit="search()")
				input(ng-model="searchType" value="place" type="hidden")
				input#main-search-input(type="text" ng-model="searchText" placeholder="Onde você vai?")
		ul.twelve.columns.row(ng-show="searchResults.length")
			li(ng-repeat="post in searchResults")
				place-list-item(place="post" style="minimal")
		ul.twelve.columns.row(ng-show="addressResults.length")
			li(ng-repeat="address in addressResults")
				h3 {{address.display_name}}

section#featured-places
	.container
		.twelve.columns
			.row
				h2.section-title
					| {{labels['Viewing list of reviews']}}
					a(href="javascript:void(0)") {{labels['featured']}}
		ul.row
			li.three.columns(ng-repeat="post in posts")
				place-list-item(place="post")