section#map.row.with-sidebar(ng-controller="MapController")
	leaflet(defaults="mapDefaults" markers="markers = ((posts | placeCategory:categoryId) | placeToMarker)")
	.map-sidebar
		map-filters

section#featured-places
	.container
		.twelve.columns
			.row
				h2.section-title
					| {{labels['Viewing list of reviews']}} 
					a(href="javascript:void(0)") {{labels['featured']}}
		ul.row
			li.three.columns(ng-repeat="post in posts")
				place-list-item(place="post")