section#map.row.with-sidebar(ng-controller="MapController")
	leaflet(defaults="mapDefaults" maxbounds="maxbounds" markers="markers = ((posts | placeCategory:categoryId | score:score) | placeToMarker)")
	.map-sidebar
		map-filters

section#main-search.anti-row(ng-controller="SearchController")
	#main-search-input.row
		.container
			.twelve.columns.row
				form(ng-submit="search()")
					.icon-magnifying-glass
					input.search-input(type="text" ng-model="searchText" placeholder="{{labels('Where are you going?')}}")
					p Encontre estabelecimentos cadastrados no BikeIt e na base de dados do OpenStreetMap, o mapa livre e editável do mundo.
	#bikeit-results.main-search-results(ng-show="searchResults.length")
		.container
			ul.twelve.columns.row
				li(ng-repeat="post in mainSearchResults = searchResults")
					place-list-item(place="post" style="minimal")
	#osm-results.main-search-results(ng-controller="SubmitPlaceCtrl" ng-show="filteredAddress.length")
		.container
			.twelve.columns.row
				h2.search-title {{labels('OpenStreetMap Results')}}
				ul
					li(ng-repeat="place in filteredAddress = (addressResults | hideFound:mainSearchResults)" ng-click="newPlace(place)")
						osm-list-item(place="place")

.container
	.twelve.columns(ng-controller="SubmitPlaceCtrl")
		a.button(ng-click="newPlace()") Novo local

section#featured-places
	.container
		.twelve.columns
			.row
				h2.section-title
					| {{labels('Featured places')}}
		ul.row
			li.three.columns(ng-repeat="post in posts")
				place-list-item(place="post")