@import "functions.less";

html,
body {
	width: 100%;
	font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
	background: @bg;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Open Sans Condensed", "Helvetica", "Arial", sans-serif;
	line-height: 140%;
	color: #333;
}

a,
a:visited {
	color: @light-orange;
	&:hover,
	&:focus {
		color: @dark-orange;
	}
}

button,
.button,
a.button,
input[type=submit] {
	border: 0;
	background: @dark-orange;
	color: #fff;
	text-decoration: none;
	padding: 15px 25px;
	line-height: 100%;
	cursor: pointer;
	font-weight: 600;
	text-transform: uppercase;
	&:hover {
		background: @light-orange;
		color: #fff;
	}
	&:visited,
	&:active {
		color: #fff;
	}
}

input[type=text]:disabled,
input[type=password]:disabled,
textarea:disabled {
	background: @light-gray;
}

ul li.columns,
ul li.column {
	margin-bottom: 0;
}

.maki-icon {
	background-image: url(../img/maki-sprite.png);
}

.dark .maki-icon { background-image: url(../img/maki-sprite.dark.png); }

@media
  only screen and (-webkit-min-device-pixel-ratio : 2),
  only screen and (min-device-pixel-ratio : 2) {
  .maki-icon {
    background-image:url(../img/maki-sprite@2x.png);
  }
  .dark .maki-icon { background-image:url(../img/maki-sprite.dark@2x.png); }
}

.first-load {
	margin: 120px 0;
	text-align: center;
	font-size: 24px;
	color: #999;
	text-transform: uppercase;
}

.section-header {
	a {
		text-decoration: none;
	}
	.buttons {
		float: right;
	}
}

.section-title {
	font-family: "Open Sans";
	font-size: 28px;
	line-height: 28px;
	margin: 0;
	color: @dark-gray;
}

.message-notification {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	text-align: center;
	font-size: 14px;
	color: #fff;
	z-index: 999999;
	&#dialog-messages {
		position: absolute;
	}
	a,
	strong {
		color:#fff;
	}
	.message-content {
		background: @light-orange;
		border-bottom: 1px solid @dark-orange;
		padding: 10px;
	}
	p {
		margin: 0;
	}
	.close-button {
		color: #fff;
		font-size: 12px;
		text-decoration: none;
		float: right;
		text-transform: uppercase;
		font-weight: 600;
	}
}

/*
 * SEARCH
 */

#main-search {
	::-webkit-input-placeholder {
		color: #666;
		font-weight: 500;
		opacity: .9;
	}

	:-moz-placeholder {
		color: #666;
		font-weight: 500;
		opacity: .9;
	}

	::-moz-placeholder {
		color: #666;
		font-weight: 500;
		opacity: .9;
	}

	:-ms-input-placeholder {
		color: #666;
		font-weight: 500;
		opacity: .9;
	}
	#main-search-input {
		background: @light-orange;
		border-top: 2px solid @dark-orange;
		padding: 60px 0 0;
		form {
			margin: 0;
			padding: 0;
			position: relative;
		}
		.icon-magnifying-glass {
			font-size: 40px;
			color: #333;
			pointer-events: none;
			position: absolute;
			top: 17px;
			right: 20px;
		}
		.search-input {
			width: 100%;
			padding: 20px;
			margin: 0;
			background: transparent;
			.box-sizing(border-box);
			font-size: 28px;
			line-height: 36px;
			background: #fff;
			border: 0;
			color: #333;
			text-align: left;
			//.box-shadow(0 0 3px 2px @light-gray);
			//border: 1px solid @gray;
			margin: 0 0 10px;
			.transition(all .2s linear);
			&:focus {
				.box-shadow(0 0 5px 1px rgba(0,0,0,0.1));
			}
		}
		p {
			color: #fff;
			font-size: 14px;
			line-height: 22px;
		}
	}
	li {
		margin: 0;
	}
	.main-search-results {
		.search-title {
			font-family: "Open Sans";
			text-transform: uppercase;
			font-size: 16px;
			line-height: 16px;
			font-weight: 600;
			color: @gray;
			padding: 0 0 20px;
			margin: 0;
			border-bottom: 1px solid @light-gray;
		}
	}
}

.has-tooltip {
	position: relative;
	.tooltip {
		display: none;
		left: 50%;
		bottom: 100%;
		margin-bottom: 12px;
		margin-left: -75px;
		width: 150px;
		background: @light-gray;
		border: 1px solid @gray;
		position: absolute;
		z-index: 100;
		padding: 5px;
		.box-sizing(border-box);
		&:before {
			content: '';
			position: absolute;
			width: 12px;
			height: 12px;
			background: @light-gray;
			border: 1px solid @gray;
			.transform(rotate(45deg));
			bottom: -6px;
			left: 50%;
			margin-left: -6px;
		}
		&:after {
			content: '';
			position: absolute;
			bottom: 0px;
			height: 15px;
			background: @light-gray;
			left: 1px;
			right: 1px;
		}
		span {
			position: relative;
			z-index: 2;
			font-size: 12px;
			font-family: "Open Sans Condensed";
			font-weight: 600;
		}
	}
	&:hover {
		z-index: 100;
		.tooltip {
			display: block;
		}
	}
}

/*
 * Dialogs
 */

.ngdialog.ngdialog-theme-default .ngdialog-content {
	border-radius: 0;
	background: #fff;
	width: 700px;
	padding: 30px;
}

.ngdialog.ngdialog-theme-default .ngdialog-content h2 {
	font-weight: 800;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 18px;
	margin: 0 0 30px;
	color: @gray;
	border-bottom: 1px solid @light-gray;
	padding-bottom: 10px;
}

/*
 * Auth form
 */

#login-form,
#registration-form {
	.box-sizing(border-box);
	float: left;
	input[type=checkbox] {
		margin-right: 10px;
	}
	form {
		margin: 0;
	}
	input[type=text],
	input[type=password],
	input[type=submit] {
		width: 100%;
		margin: 0;
	}
	input[type=submit] {
		font-weight: 600;
		text-transform: uppercase;
		margin: 0;
	}
	label {
		font-size: 12px;
		font-weight: 600;
		opacity: .9;
	}
}

#registration-form {
	width: 40%;
	padding: 0;
	p {
		margin: 0 0 10px;
	}
	input[type=submit] {
		margin-top: 13px;
		background: @light-orange;
	}
}

#login-form {
	width: 60%;
	background: @light-gray;
	margin: -30px 30px -30px -30px;
	padding: 30px;
	h2 {
		color: @dark-gray;
		border-color: @gray;
	}
	label {
		font-size: 12px;
	}
	p {
		margin-bottom: 30px;
	}
	input[type=text],
	input[type=password] {
		padding: 15px;
		font-size: 16px;
	}
}
