@import "functions.less";

.place.list-item {
	padding: 20px 20px 0;
	height: 330px;
	background: @light-gray;
	border: 1px solid @gray;
	.box-shadow(0 0 5px 3px @light-gray);
	position: relative;
	.image {
		margin: -20px -20px 20px -20px;
		height: 150px;
		background-size: cover;
		background-position: center;
	}
	.place-icon {
		display: block;
		margin: -35px auto 10px;
	}
	h2 {
		font-size: 16px;
		text-align: center;
		font-weight: 700;
		a {
			color: #333;
			text-decoration: none;
			&:hover {
				color: #111;
			}
		}
	}
	p.address {
		font-size: 12px;
		text-align: center;
		font-weight: 600;
		margin: 0 0 20px;
		color: #666;
	}
	.place-rating {
		display: table;
		position: absolute;
		bottom: 0;
		width: 100%;
		margin: 0 -20px;
		p {
			display: table-cell;
			width: 1%;
			text-align: center;
			padding-bottom: 20px;
			border-right: 1px solid @gray;
			&:last-child {
				border-right: 0;
			}
			.label {
				display: none;
			}
			[class^="icon-"], [class*=" icon-"] {
				display: block;
				margin-bottom: 10px;
				color: #666;
				font-size: 18px;
			}
			.count {
				font-weight: 800;
				color: #666;
			}
			&.structure [class^="icon-"], [class*=" icon-"] {
				color: @light-orange;
			}
			&.kindness [class^="icon-"], [class*=" icon-"] {
				color: @dark-orange;
			}
		}
	}
	&.minimal {
		.box-shadow(0 0 0);
		border: 0;
		background: transparent;
		height: auto;
		padding: 0;
		.image {
			float: left;
			width: 33.33333%;
			height: 100px;
			margin: 0;
		}
		.place-header {
			float: left;
			width: 33.33333%;
			position: relative;
			.place-icon {
				margin: 0;
				position: absolute;
				left: -30px;
			}
			h2,
			p.address {
				text-align: left;
			}
		}
		.place-rating {
			float: left;
			width: 33.33333%;
			position: static;
			display: block;
			margin: 0;
			width: auto;
			p {
				width: auto;
				display: block;
				float: left;
			}
		}

	}
}

@osm-list-height: 60px;

.osm-place.list-item {
	border-bottom: 1px solid @light-gray;
	cursor: pointer;
	&:hover {
		border-color: @gray;
	}
	.place-label {
		width: 25%;
		float: left;
		.maki-icon {
			margin: 16px 10px 0 0;
			float: left;
		}
		h4 {
			font-family: "Open Sans";
			font-weight: 400;
			line-height: @osm-list-height;
			font-size: 12px;
			text-transform: uppercase;
			margin: 0;
		}
	}
	.place-header {
		width: 60%;
		float: left;
		h3 {
			float: left;
			width: 40%;
			font-size: 18px;
			line-height: @osm-list-height;
			font-weight: 600;
			margin: 0;
		}
		p {
			margin: 0;
			line-height: @osm-list-height;
		}
	}
	.place-actions {
		width: 15%;
		float: left;
		.button {
			line-height: @osm-list-height;
			display: block;
			text-align: center;
			padding: 0;
		}
	}
}

@single-map-height: 600px;

.single-place {
	#map {
		width: 66.6666%;
		height: @single-map-height;
		.leaflet-container {
			position: absolute;
			top: 0;
			left: 0;
			width: 200%;
			left: -50%;
			.leaflet-left {
				left: 30%;
			}
			.leaflet-right {
				right: auto;
				left: 30%;
			}
		}
	}
	.header-container {
		position: relative;
		#place-header {
			float: right;
			background: #fff;
			margin-top: -@single-map-height;
			height: @single-map-height;
			.box-shadow(0 0 5px 0 rgba(0,0,0,0.1));
			position: relative;
			.header-content {
				padding: 20px;
				.main-info {
					border-bottom: 1px solid @gray;
					margin: 0 0 20px;
					.image {
						background-size: cover;
						background-position: center;
						margin: -20px -20px 0 -20px;
						height: 230px;
					}
					h1 {
						text-align: center;
						font-weight: 800;
						text-transform: uppercase;
						font-size: 32px;
						line-height: 80px;
						margin: -80px -20px 20px -20px;
						background: rgba(255,255,255,0.8);
					}
					.address {
						text-align: center;
						font-size: 14px;
						font-weight: 600;
					}
				}
				.ratings {
					margin: 0 0 40px;
					p {
						margin: 0 0 20px;
						.label {
							width: 50%;
							float: left;
							.box-sizing(border-box);
							padding-left: 10%;
							text-transform: lowercase;
							color: #666;
						}
						.rating {
							width: 50%;
							float: left;
							.rating-item {
								margin-left: 10%;
							}
						}
					}
				}
				.total {
					font-size: 16px;
					line-height: 20px;
					text-align: center;
					font-weight: 600;
					color: #666;
					text-transform: lowercase;
					.count {
						margin-left: 20px;
						font-size: 18px;
						font-weight: 800;
					}
				}
				p.submit-review {
					position: absolute;
					bottom: -60px;
					left: 0;
					right: 0;
					text-align: right;
					line-height: 60px;
					display: block;
					margin: 0;
					height: 60px;
					a {
						display: block;
						background: @dark-orange;
						color: #fff;
						text-decoration: none;
						font-family: "Open Sans Condensed";
						font-weight: 800;
						text-transform: lowercase;
						line-height: inherit;
						span {
							font-weight: normal;
							line-height: 60px;
							float: right;
							margin: 0 35% 0 20px;
							padding: 0;
							font-size: 20px;
							display: inline-block;
						}
						&:hover {
							background: @light-orange;
						}
					}
				}
			}
		}
	}
	#reviews {
		margin: 80px 0 0;
	}
}


#new-place {
	.map {
		.map-container {
			position: relative;
			height: 300px;
			border: 1px solid @dark-gray;
			&:after,
			&:before {
				content: '';
				background: @dark-gray;
				pointer-events: none;
				position: absolute;
				z-index: 999999;
			}
			&:after {
				left: 0;
				top: 50%;
				height: 1px;
				width: 100%;
			}
			&:before {
				left: 50%;
				top: 0;
				height: 100%;
				width: 1px;
			}
			.leaflet-container {
				width: 100%;
				height: 100%;
			}
		}
	}
}