article.list-item.review-list-item.row(id="review-{{review.ID}}")
	.container
		.four.columns
			header.review-header
				.review-place(ng-show="review.placeData")
					h3
						a(ui-sref="placesSingle({placeId: review.placeData.ID})") {{review.placeData.title}}
				.review-author
					img(ng-src="{{review.author.avatar}}")
					h3 
						a(ui-sref="user({userId: review.author.ID})") {{review.author.name}}
				p.date
						a(ui-sref="placesSingle.singleReview({placeId: review.place, reviewId: review.ID})") {{labels('Published')}} {{getReviewDate()}}
				p(ng-show="canDeleteReview(review)")
					a.delete(href="javascript:void(0);" ng-click="deleteReview(review)") {{labels('Delete review')}}
				.clear
				.review-ratings
					p.rate.clearfix
						span.label {{labels('Rating')}}:
						span.info {{getReviewApproval()}}
					p.structure.clearfix
						span.label {{labels('Structure')}}:
						ratings(type="structure" rating="{{review.rating.structure}}")
					p.kindness.clearfix
						span.label {{labels('Kindness')}}:
						ratings(type="kindness" rating="{{review.rating.kindness}}")

		.eight.columns
			section.review-content(ng-bind-html="getReviewContent()")

			section.review-comments
				.comment-buttons
					.vote
						a.upvote.vote-button(href="javascript:void(0);" ng-click="vote('up')" ng-class="{active: review.user_vote == 'up'}")
							span.icon-thumbs-up
							| {{review.votes.up}}
						a.downvote.vote-button(href="javascript:void(0);" ng-click="vote('down')" ng-class="{active: review.user_vote == 'down'}")
							span.icon-thumbs-down
							| {{review.votes.down}}
					a.button.comment-review(href="javascript:void(0);" ng-click="toggleComments()") {{labels('Reply this review')}}
				.clear
				.comments-content(ng-show="displayComments")
					.comment-list(ng-show="comments")
						article(ng-repeat="comment in comments")
							h3 {{comment.author.name}}
							div(ng-bind-html="getCommentContent(comment)")
					.reply
						form
							textarea(placeholder="Mensagem")