article.single-user.content-map(id="user-{{user.id}}")
	.clearfix
		section#map.row(ng-controller="MapController")
			leaflet(defaults="mapDefaults" markers="markers = (places | placeToMarker)")
		.container.header-container.anti-row
			header#user-header.content-map-header.five.columns
				.header-content
					.main-info
						img.user-avatar(ng-src="{{getUserAvatar()}}")
						h1 {{user.name}}
						p.registration {{labels('Active since')}} {{getUserRegistration()}}
					p.total {{labels('Total reviews')}}: 
						span.count {{user.total_reviews}}
					.ratings
						p.upvotes
							span.icon-thumbs-up
							{{user.votes.up}}
						p.downvotes
							span.icon-thumbs-down
							{{user.votes.down}}
	section#reviews
		.container
			.twelve.columns
				.row
					h2.section-title {{labels('Reviews')}}
		.review-list(ng-show="reviews.length")
			review-list-item(ng-repeat="review in reviews" review="review")